$bg-color: rgba(52,183,216, 0.8);
$font-color01: #f00;
$font-color02: #ff0;
$font-color03: #0f0;

body {
    background-color: #ddd;
}

#box1 {
    color: $font-color02;
    background-color: $bg-color;
    width: 100px;
}
#box2 {
    color: $font-color01;
    background-color: $bg-color;
    width: 100px;
}
#box3 {
    color: $font-color02;
    background-color: $bg-color;
    width: 300px;
}
#box4 {
    color: $font-color01;
    background-color: $bg-color;
    width: 300px;
}
#box5 {
    color: $font-color03;
    background-color: $bg-color;
}
// 바꿔줄 영역을 드래그 한 뒤 ctrl + D 누르면 다음에 오는 동일한 영역도 선택해줌 