@charset "utf-8";/*****************************************************************************************************************************************
폰트 사용법 : font-weight: 400; - 레귤러 / font-weight: 700; - 볼드
*****************************************************************************************************************************************/
html, body { height:100%; font-family:'NanumBarunGothic', sans-serif; font-weight:400; font-size:13px; color:#555; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; } /* 나눔고딕 기본값을 초기값으로 지정, 아이폰 폰트 사이즈 변환방지 설정 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,select,input,textarea,p,blockquote,th,td,figure,figcaption { margin:0; padding:0; } 
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption { display:block; } /* html5 태그 초기 설정 값 */
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:100%; } 
img,legend,fieldset,button { border:none; } 
input,select,textarea { font-family:inherit; font-size:inherit; *font-weight:inherit; vertical-align:middle; } /* 기본 설정값으로 초기화 */
table { border-collapse:collapse; table-layout:fixed; } 
table th, table td { word-break: keep-all; } 
caption,legend { width:0; height:0; line-height:0; visibility:hidden; font-size:0; } /* 사용하지 않는 전제 조건 */
ul,ol,li { list-style-type:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; } /* 익스 9부터 적용가능 */
hr { display:none; } 
em { font-style:normal; } 
strong,b { font-weight:normal; } 
textarea { resize:none; } /* 리사이징 초기화 : 리사이징을 원하면 해당영역을 주석처리 해주세요 */

a, a:link, a:visited, a:active { color:#555; text-decoration:none; word-break: keep-all; } 
a:hover { color:#555; } 
a[class~="btn"] { vertical-align:middle; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; text-decoration:none; } /* 버튼의 경우에 언더라인 삭제 */

a, button { margin: 0; -webkit-tap-highlight-color : rgba(0, 0, 0, 0); -webkit-touch-callout : none; -webkit-user-select : none; } 

.clfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; } 
.clfix { display: inline-block; } 
.clfix { display: block; } 
* html .clfix { height: 1%; } /* Hides from IE-mac */
.clfix { zoom: 1; } /*for IE 5.5-7*/

.blind { font-size:0; height:1px !important; position:absolute !important; width: 1px !important; } /* ir 처리 및 숨김영역 공통 */
.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } /* 한줄 텍스트 줄임표 설정 */

/* 스킵네비게이션 */
#skipnavi a { display:block; position:absolute; top:-1000px; left:0; width:100%; height:1px; color:#222; overflow:hidden; z-index:99999999; } 
#skipnavi a:focus, #skipnavi a:hover, #skipnavi a:active { top:0px; left:0; background-color:#e9e9e9; padding:7px 0 5px; height:auto; color:#000; font-weight:bold; text-align:center; text-decoration:none; } 

/*****************************************************************************************************************************************
form 요소 절대값 정의
*****************************************************************************************************************************************/
button { padding:0 0; font-family:'NanumBarunGothic', sans-serif; font-weight:400; vertical-align:middle; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; cursor:pointer; background-color:transparent; color:#777;} 
button span { box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; } 
label { display:inline-block; vertical-align:middle; } 

select[disabled='disabled'], input[disabled='disabled'], .disabled { background-color:#f0f0f0; border:1px solid #d9d9d9; cursor:default; } 
select[readonly='readonly'], input[readonly='readonly'], .readonly { background-color:#f0f0f0; border:1px solid #d9d9d9; } 
input[type="text"]::-ms-clear { display:none; } /* 익스 10, 11에서 입풋창에 생성되는 텍스트 삭제 버튼제어 */

/* placeholder color 적용 */
::-webkit-input-placeholder { color:#999; } /* WebKit, Blink, Edge */
:-moz-placeholder { color:#999; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color:#999; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color:#999; } /* Internet Explorer 10-11 */

.inputText, .selectText, .textArea, .inputFile { width:100%; font-size:13px; font-family:'NanumBarunGothic', sans-serif; font-weight:400; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; } /* 익스 9부터 적용가능, 아이폰 둥근 모서리 설정빼기 */

/* 아래 정의된 값은 복수 클래스로 사용되나, 최대한 지양합니다. */
.alignL { text-align:left !important; } 
.alignC { text-align:center !important; } 
.alignR { text-align:right !important; } 

