@charset "utf-8";
.wrap{color: #121212;}
/* header */
.header{text-align: center; border-bottom: 1px solid #101218;}
/* container */
.container{clear: both; overflow: hidden; width: 979px; margin: 40px auto 120px;}
/* lnb */
.lnbWrap{float: left; width: 205px;}
/* contents */
.contents{float: right; width: 729px;}
/* subNavi */
.subNaviWrap{margin-top: 45px; clear: both; overflow: hidden; padding-bottom: 6px; border-bottom: 1px solid #dbdada;}
.pageTitle{float: left; font-size: 20px; font-weight: 700;}
.subNavi{float: right;}
.subNavi li{display: inline-block; padding-left: 4px; font-size: 12px;}
.subNavi li:after{content: ''; display: inline-block; width: 5px; height: 8px; margin-left: 7px; background: url(../img/arrow_01.jpg) no-repeat left center;}
.subNavi li:last-child:after{display: none;}
.subNavi li:last-child{color: #956b29;} /* Last child always has the color. */
/* subTitle h4 */
.subTitle{font-size: 18px; font-weight: 800; color: #454545;}
.subTitle + .artiCon{margin-top: 15px;}
/* artiCon space */
.artiCon .tableType + * {margin-top: 18px;} /* All has 'margin-top 18px' which is next tableType. */
/* input style */
.inputTxt{display: inline-block; padding: 7px 9px; border:1px solid #bebebe;}
.marginL{display: inline-block; margin-left: 8px;}
/* common table */
.tableType{border-top: 2px solid #4d4d4d;}
.tableType table{width: 100%;}
.tableType tr{border-bottom: 1px solid #dbdbdb;}
.tableType th, .tableType td{font-size: 13px; color:#323332;}
.tableType th{padding: 19px 0 19px 19px; text-align: left; color: #323332; background-color: #f5f5f5;}
.tableType td{padding: 11px 0 11px 10px;}
.onlyTbTxt{padding-left: 11px;}
/* select Box */
.selectBox{position: relative; z-index: 0; display: inline-block;}
.selectBox label{position: relative; z-index: -1; width: 100%; padding: 8px 10px 6px; box-sizing: border-box; border: 1px solid #bebebe;}
.selectBox label .arrow{position: absolute; z-index: 0; right: 10px; top: 13px;}
.selectBox .selBox{position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 31px; opacity: 0;}
.selectBox .selBox:focus + label{border: 1px solid #3ba7f2;}
/* radio, checkBox */
.radioWrap label, .chkBoxWrap label{cursor: pointer;}
.radioLabel.disagree{margin-left: 30px;}
.chkBoxWrap label{margin-left: 30px;}
.chkBoxWrap label:first-of-type{margin-left: 0;}
.radioIcon, .checkIcon{display: inline-block; position: relative; z-index: 0; width: 16px; height: 16px; margin-right: 9px; overflow: hidden; vertical-align: middle;}
.radioWrap input:focus ~ b{color:#3ba7f2;}
.checkIcon{width: 14px; height: 14px; border: 1px solid #bebebe;}
.chkBoxWrap input:focus + .checkIcon{border: 1px solid #3ba7f2;}
.radioIcon img, .checkIcon img{position: absolute; z-index: 0; left: -16px; top: 0;}
.checkIcon img{left: -14px;}
.radioLabel input:checked + .radioIcon img, .checkLabel input:checked + .checkIcon img{left: 0px;}
/* button */
.btn{border: 1px solid transparent;}
.btn:focus{border-color: #3ba7f2;}
.btnWrap{margin-top: 50px; text-align: center;}
.smallSizeBtn{padding: 6px 10px 8px; border: 1px solid #a8adb0; background-color: #f2f2f2; color:#444544;}
.smallSizeBtn:hover{background-color: #b9b9b9; transition: all 0.5s;}
.bigSizeBtn{display: inline-block; width: 154px; padding:19px 0 18px; margin: 0 3px; background-color: #40464d; color: #fff;}
.bigSizeBtn:hover{font-weight: 800;}
.btn.bgRed{background-color: #d91f26;}
.btn.bgWhite{background-color: #ffffff;}
/* text */
.txt{line-height: 1.5;}
/* list DOT */
.listDot>li, .normalDot{padding-left: 23px; background: url(../img/list_dot01.jpg) no-repeat left 15px top 8px;}
.listDot li{margin-top: 5px; line-height: 1.5;}
.listSpace li{padding-left: 12px; text-indent: -11px; color: #787878;} /* Dash image is better than 'padding-left: 12px; text-indent: -11px;' */
/* tab */
.tabBtn{margin: 14px 0 29px; border-bottom: 1px solid #4d4d4d; clear: both; overflow: hidden;}
.tabBtn li{float: left; width: 20%;}
.tabBtn li a{display: block; width: 100%; padding: 12px 0; border-top: 1px solid #bebebe; border-left: 1px solid #bebebe; color: #808080; background-color: #e6e6e6; box-sizing: border-box; text-align: center;}
.tabBtn li:last-child a{border-right: 1px solid #bebebe;}
.tabBtn a.current, .tabBtn li a:focus, .tabBtn li a:hover{color: #ffffff; background-color: #4d4d4d; border-color: #4d4d4d; transition: all 0.4s;}
/* color */
.color01{color: #4566a2;}
.color02{color: #bebebe;}
.bgGray{background-color: #fafafa;}

/*--------- PAGE START ------------*/
/* STEP */
.joinStepWrap{clear: both; overflow: hidden;}
.joinStep{float: right; margin-top: 45px;}
.joinStep li{display: inline-block; position: relative; z-index: 0; padding: 9px 0 9px 41px; vertical-align: top;}
.joinStep li:first-child{padding-left: 0;}
.joinStep li:after{content: ''; display: inline-block; position: absolute; right: -26px; top: 17px; z-index: 0; width: 9px; height: 15px; background: url(../img/arrow_02.jpg) no-repeat left center;}
.joinStep li:last-child:after{display: none;}
.joinStep li.current{padding-left: 96px; color: #d91f26; background: url(../img/ico_writing.jpg) no-repeat left 41px center;}
.joinStep li.current .step{display: block;}
.stepNum{display: inline-block; width: 30px; height: 30px; text-align: center; line-height: 30px; font-size: 13px; color: #4d4d4d; background-color: #e9e9e9; border-radius: 40px;}
.joinStep + .subTitle{margin-top: 42px;}
.subTitle{margin-top: 50px;}

/* IRP 가입 */
.adrText{margin-top: 11px;}
.info01, .info02,.info03,.info04,.info05,.info06,.info07{width: 100%; box-sizing: border-box;}
.info01{max-width: 63px;}
.info02{max-width: 67px;}
.info03{max-width: 90px;}
.info04{max-width: 113px;}
.info05{max-width: 168px;}
.info06{max-width: 190px;}
.info07{max-width: 199px;}
.info08{max-width: 259px;}
.wonSpace{display: inline-block; width: 100%; max-width: 135px; padding-left: 11px; box-sizing: border-box;}
.likeTable{display: table; overflow: hidden; width: 100%; margin-top: 50px; border-top: 2px solid #4d4d4d; border-bottom: 1px solid #dbdbdb; padding: 26px 80px; background-color: #f5f5f5; box-sizing: border-box;}
.likeTable label, .likeTable button{display: table-cell; vertical-align: middle;}/* like table */
.likeTable input:focus + .checkIcon{border: 1px solid #3ba7f2;}
.likeTable .btn{float: right;}

/* footer */
.footer{text-align: center; border-top: 1px solid #dcdcdc; background-color: #fbfbfb;}

@media screen and (max-width: 1080px){
/* header, footer */
.header img, .footer img{display: block; width: 100%; height: auto;}
/* container */
.container{width: 95%;}
/* lnb */
.lnbWrap{display: none;}
/* contents */
.contents{width: 100%;}
}
